.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.headerMov {
  font-size: 64px;
}
.container {
  display: grid;
  width: 70%;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 215px;
  height: 420px;
  cursor: pointer;
}
.moviePoster {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 215px;
  height: 334px;
  border-radius: 20px;
  box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.67);
}
.footerimg {
  width: 100%;
}
.text {
  text-align: center;
  font-size: 24px;
}
