.root {
}
.container {
  background-color: black;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  cursor: pointer;
  height: 80px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  width: 800px;
  margin-right: 50px;
}
.menu_items {
  color: white;
  font-size: 25px;
  cursor: pointer;
}
