.footerImg {
	width: 100%;
}

.footerContainer {
	background-color: black;
	padding-bottom: 2em;
}

.footer {
	padding: 3em 5em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: auto;
}

.footerText {
	width: 400px;
	text-align: left;
	margin: 2em;
}

.footerTextImg {
	margin-left: -2em;
}

.footerTextTagline {
	color: white;
	font-size: 2em;
}

.footerContactUs {
	width: 300px;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin: 2em;
}

.footerContactUsText {
	font-size: 2em;
	color: white;
	text-align: left;
	margin: 0;
	margin-bottom: 30px;
}

.footerContactUsEmail {
	border: 1px solid white;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 1em .5em;
	margin-bottom: 15px;
}

.footerContactUsMessage {
	border: 1px solid white;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 1em .5em;
	resize: none;
	height: 75px;
	margin-bottom: 15px;
}

.footerContactUsSend {
	color: white;
	padding: 1em 2em;
	border: 1px solid white;
	border-radius: 25px;
	background-color: black;
	margin: 0 auto;
	cursor: pointer;
}

.footerFollowUs {
	width: 300px;
	color: white;
	text-align: left;
	margin-top: 50px;
	margin: 2em;
}

.footerFollowUsText {
	color: white;
	margin: 0;
	font-size: 2em;
}

.footerFollowUsButtons {
	border: 1px solid white;
	border-radius: 25px;
	padding: .5em;
	margin-right: 1em;
	margin-top: 2em;
	cursor: pointer;
}

.footerCallUs {
	color: white;
	text-align: left;
	margin-top: 50px;
	margin: 2em;
}

.footerCallUsText {
	color: white;
	margin: 0;
	font-size: 2em;
}

.footerCallUsNumber {
	color: white;
	font-size: 2em;
	font-weight: bold;
}

.footerDivider{
	border: 1px solid white;
	margin: 0 7em;
}

.footerRights {
	color: white;
	text-align: left;
	margin: 1.5em 4.5em;
	font-size: 1.5em;
}

@media (max-width: 887px) {
	.footer, .footerText, .footerTextImg, .footerContactUs, .footerContactUsText, .footerFollowUs, .footerCallUs, .footerRights{
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}